### Scraping Website Sneakers123 with BeautifulSoup

In [1]:
import os
import glob
import json
import folium
import requests
import itertools
from math import sqrt
from pyforest import *
%matplotlib inline
import branca.colormap as cm
from datetime import datetime
plt.style.use("fivethirtyeight")
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.select import Select
import time

In [2]:
header = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 Edg/124.0.0.0'}
halaman = 2
url = f'https://sneakers123.com/en/sneaker/page/{halaman}'
req = requests.get(url, headers=header, timeout=10)
soup = BeautifulSoup(req.content, 'html.parser')
semua_elemen = soup.find_all('section', class_='card-container')
semua_elemen

[<section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">30</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Jordan</div> <div class="product-series">1</div> <div class="product-mark">553558-072</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">73,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">10</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Nike</div> <div class="product-series">Air Max 1 87 Leopard</div> <div class="product-mark">FV6605-200</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">144,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">45</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Nike</div> <div class="product-series">100</div> <div class="product-mark">FD7039-200</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">83,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">40</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Nike</div> <div class="product-series">Air Max 1</div> <div class="product-mark">DZ2628-102</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">90,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">45</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Nike</div> <div class="product-series">Air Max 1 SC Light Dust</div> <div class="product-mark">FB9660-002</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">96,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">51</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Nike</div> <div class="product-series">Mac Attack QS SP</div> <div class="product-mark">FB8938-101</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">70,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">10</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Nike</div> <div class="product-series">V2K Run Summit S</div> <div class="product-mark">FD0736-100</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">108,49 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">56</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Jordan</div> <div class="product-series">2 Retro Look Up In The Air S</div> <div class="product-mark">DX4401-146</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">72,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">30</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">adidas</div> <div class="product-series">Samba OG</div> <div class="product-mark">IG1024</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">84,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">14</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">Adidas</div> <div class="product-series">Campus 00S</div> <div class="product-mark">H03471</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">97,00 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes
                     </span></div></div></a></section>,
 <section class="card-container sneaker-thumbnail col-6 col-md-3 col-xl-3 mp6" data-v-7fa38404=""><a class="card" href="javascript:" no-prefetch=""><div class="card-buttons"><p class="discount"><span class="discount-number">27</span>%
                 </p> <div class="action-button notification"><span><div class="custom_tooltip"><img alt="icon" class="notification-svg svg" data-src="/_nuxt/img/595ed71.svg" height="19" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="19"/> <div class="custom-tooltip-body left">
 				Notify about price
 			</div></div></span></div> <div class="action-button favorite"><div class="custom_tooltip"><img alt="icon" class="favorite-svg svg" data-src="/_nuxt/img/57cc0f8.svg" height="16" lazy-default="/_nuxt/img/ad97b1a.svg" src="/_nuxt/img/ad97b1a.svg" width="20"/> <div class="custom-tooltip-body left">
 			Add to List
 		</div></div></div></div> <div class="product-photo"><div class="client-only-placeholder"><img alt="sneaker thumbnail" class="product-photo-img" height="300" src="/_nuxt/img/75030d0.jpg" width="300"/></div></div> <div class="transition-info-container"><div class="product-names"><div class="product-title">New Balance</div> <div class="product-series">U 9060 GRY</div> <div class="product-mark">U9060GRY</div></div> <div class="product-properties product-icons"><div><p>Found at<br/> <span class="card-product-footer shop-count">
                           21 Shops
                       </span></p></div> <div><p>Price from<br/> <span class="card-product-footer price-info">219,95 €</span></p></div></div> <div class="product-details"><div class="related-products-container"></div> <span class="available-sizes-text mt-1 mb-2">
                         Available in several sizes

In [3]:
for elemen in semua_elemen:
    merek = elemen.find('div', class_='product-names').find('div', class_='product-title').text.strip()
    print(merek)

Jordan
Nike
Nike
Nike
Nike
Nike
Nike
Jordan
adidas
Adidas
New Balance
Adidas
Adidas
Nike
Nike
Nike
Nike
Nike
Nike
Jordan
Nike
Nike
Nike
Nike
Nike
Nike
Jordan
Adidas
Adidas
Nike
Jordan
Jordan

In [4]:
for elemen in semua_elemen:
    series_sepatu = elemen.find('div', class_='product-names').find('div', class_='product-series').text.strip()
    print(series_sepatu)

1
Air Max 1 87 Leopard
100
Air Max 1
Air Max 1 SC Light Dust
Mac Attack QS SP
V2K Run Summit S
2 Retro Look Up In The Air S
Samba OG
Campus 00S
U 9060 GRY
Gazelle Indoor
Gazelle Indoor
Dunk Team Croc 36
Air Max 1 87 Velvet S
Air Max 1 Obsidian Bloom S Size 10
Dunk LX Ale Ostrich S Size 10
ACG Torre Mid S Size 4
Zoom Vomero 5
Air S 1 Mid Distressed Smoke Ref Farbe Größe 36
Air Alpha Force
Dunk Co JP Reverse Curry 2024
V2K Run Smoke S
Billie Eilish X Air Alpha Force 88 SP Fire
Air Alpha Force 88
Cortez Sail S
1 Elevate S
Campus 00S
Campus 00S
Air Force 1 07 Fresh
1
1 Mid

In [5]:
for elemen in semua_elemen:
    id_sepatu = elemen.find('div', class_='product-names').find('div', class_='product-mark').text.strip()
    print(id_sepatu)

553558-072
FV6605-200
FD7039-200
DZ2628-102
FB9660-002
FB8938-101
FD0736-100
DX4401-146
IG1024
H03471
U9060GRY
H06260
H06261
FJ2260-004
FZ3621-220
FD9082-001
FJ2260-001
FD0212-201
FZ3653-104
FJ3448-001
FJ4184-600
FQ6965-700
FD0736-001
DZ6763-101
DZ4627-100
DN1791-102
DH7004-109
H03473
HQ8707
DM0211-001
553558-136
554724-136

In [6]:
for elemen in semua_elemen:
    shop = elemen.find('div', class_='product-properties product-icons').find('span', class_='card-product-footer').text.strip()
    print(shop)

21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
21 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops
20 Shops

In [7]:
for elemen in semua_elemen:
    harga_sepatu = elemen.find('div', class_='product-properties product-icons').find('span', class_='card-product-footer price-info').text.strip()
    print(harga_sepatu)

73,00 €
144,00 €
83,00 €
90,00 €
96,00 €
70,00 €
108,49 €
72,00 €
84,00 €
97,00 €
219,95 €
99,99 €
102,00 €
126,49 €
144,49 €
90,00 €
126,49 €
59,90 €
136,00 €
97,00 €
89,00 €
104,00 €
78,00 €
65,00 €
59,99 €
55,00 €
99,99 €
97,00 €
159,95 €
84,00 €
96,00 €
91,00 €

In [8]:
for elemen in semua_elemen:
    tersedia = elemen.find('div', class_='product-details').find('span', class_='available-sizes-text').text.strip()
    print(tersedia)

Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes
Available in several sizes

In [9]:
for elemen in semua_elemen:
    diskon = elemen.find('div', class_='card-buttons').find('p', class_='discount').text.strip()
    print(diskon)

30%
10%
45%
40%
45%
51%
10%
56%
30%
14%
27%
17%

AttributeError: 'NoneType' object has no attribute 'text'

In [10]:
for elemen in semua_elemen:
    card_buttons = elemen.find('div', class_='card-buttons')
    if card_buttons:
        discount_elem = card_buttons.find('p', class_='discount')
        if discount_elem:
            diskon = discount_elem.text.strip()
            print(diskon)
        else:
            print("Diskon tidak tersedia")
    else:
        print("Tidak ada card-buttons pada elemen")

30%
10%
45%
40%
45%
51%
10%
56%
30%
14%
27%
17%
Diskon tidak tersedia
10%
10%
28%
10%
61%
20%
27%
30%
20%
35%
50%
50%
45%
34%
12%
34%
Diskon tidak tersedia
27%
35%

In [11]:
import requests
from bs4 import BeautifulSoup

def scrapweb(var_list, awal_halaman, akhir_halaman):
    header = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 Edg/124.0.0.0'}
    halaman = awal_halaman
    while halaman <= akhir_halaman:
        url = f'https://sneakers123.com/en/sneaker/page/{halaman}'
        req = requests.get(url, headers=header, timeout=30)
        soup = BeautifulSoup(req.content, 'html.parser')
        semua_elemen = soup.find_all('section', class_='card-container')

        for elemen in semua_elemen:
            try:
                merek = elemen.find('div', class_='product-names').find('div', class_='product-title').text.strip()
            except (AttributeError, KeyError):
                merek = None
            try:
                series_sepatu = elemen.find('div', class_='product-names').find('div', class_='product-series').text.strip()
            except (AttributeError, KeyError):
                series_sepatu = None
            try:
                id_sepatu = elemen.find('div', class_='product-names').find('div', class_='product-mark').text.strip()
            except (AttributeError, KeyError):
                id_sepatu = None
            try:
                harga_sepatu = elemen.find('div', class_='product-properties product-icons').find('span', class_='card-product-footer price-info').text.strip()
            except (AttributeError, KeyError):
                harga_sepatu = None
            try:
                shop = elemen.find('div', class_='product-properties product-icons').find('span', class_='card-product-footer').text.strip()
            except (AttributeError, KeyError):
                shop = None
            try:
                tersedia = elemen.find('div', class_='product-details').find('span', class_='available-sizes-text').text.strip()
            except (AttributeError, KeyError):
                tersedia = None
            try:
                diskon_elem = elemen.find('div', class_='card-buttons').find('p', class_='discount')
                if diskon_elem:
                    diskon = diskon_elem.text.strip()
                else:
                    diskon = "Diskon tidak tersedia"
            except (AttributeError, KeyError):
                diskon = "Diskon tidak tersedia"
                
            var_list.append({
                'Merek Sneaker': merek,
                'Nama Sneaker': series_sepatu,
                'ID Sneaker': id_sepatu,
                'Jml Toko Jual': shop,
                'Available': tersedia,
                'Harga Sneaker': harga_sepatu,
                'Diskon': diskon
            })
        
        halaman += 1

In [12]:
test = []
scrapweb(test, 2, 2)
len(test)

32

In [13]:
df_tes = pd.DataFrame(test)
df_tes.head(5)

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
0,Jordan,1,553558-072,21 Shops,Available in several sizes,"73,00 €",30%
1,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,"144,00 €",10%
2,Nike,100,FD7039-200,21 Shops,Available in several sizes,"83,00 €",45%
3,Nike,Air Max 1,DZ2628-102,21 Shops,Available in several sizes,"90,00 €",40%
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,"96,00 €",45%

#### Dilakukan berulang kali
Sebagai contoh dilakukan setiap 200 halaman atau 500 halaman. Dikarenakan batasan dari cpu/gpu lokal. Maka dari itu saya menyarankan untuk menggunakan GPU yang disediakan oleh google colab

In [61]:
objek16 = []
scrapweb(objek16, 1803, 2002)
len(objek16)

6400

In [62]:
df_2000 = pd.DataFrame(objek16)
df_2000.head(5)

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
0,Nike,Vapor Edge Shark 2,DH5088-001,2 Shops,Available in several sizes,"49,00 €",Diskon tidak tersedia
1,Nike,Vapor Edge Elite 360 2,DA5457-003,2 Shops,Available in several sizes,"93,00 €",Diskon tidak tersedia
2,Nike,Rival Distance,DC8725-401,2 Shops,Available in several sizes,"67,00 €",Diskon tidak tersedia
3,Nike,Hyperdiamond 4 Keystone,CZ5918-007,2 Shops,Available in several sizes,"41,00 €",Diskon tidak tersedia
4,Nike,Jump Elite,806561-003,2 Shops,Available in several sizes,"121,00 €",Diskon tidak tersedia

In [63]:
path = 'C:/Users/Asus/dataset/'

nama_file_16 = '2000_sneaker.csv'

full_path_16 = path + nama_file_16

df_2000.to_csv(full_path_16, index=False)

print(f"Data berhasil disimpan ke: {full_path_16}")

Data berhasil disimpan ke: C:/Users/Asus/dataset/2000_sneaker.csv

In [21]:
df_500.head(5)

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
0,New Balance,Aime Leon Dore 1300,M1300AL,5 Shops,Available in several sizes,"197,00 €",Diskon tidak tersedia
1,Nike,Air Max BW Coded Nature,DM9094-100,5 Shops,None,"184,00 €",Diskon tidak tersedia
2,Jordan,Nike AJ I 1 Retro Satin Royal,921193-007,5 Shops,None,"957,00 €",Diskon tidak tersedia
3,Jordan,Nike AJ I 1 Mid Bred Color,554724-125,5 Shops,Available in several sizes,"197,95 €",Diskon tidak tersedia
4,Adidas,Pharrell Williams Billionaire Club BBC NMD Hum...,BB9544,5 Shops,None,"107,00 €",Diskon tidak tersedia

In [40]:
df_1000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400 entries, 0 to 6399
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Merek Sneaker  6400 non-null   object
 1   Nama Sneaker   6400 non-null   object
 2   ID Sneaker     6400 non-null   object
 3   Jml Toko Jual  6400 non-null   object
 4   Available      2406 non-null   object
 5   Harga Sneaker  6400 non-null   object
 6   Diskon         6400 non-null   object
dtypes: object(7)
memory usage: 350.1+ KB

In [41]:
df_1000.isnull().sum()

Merek Sneaker       0
Nama Sneaker        0
ID Sneaker          0
Jml Toko Jual       0
Available        3994
Harga Sneaker       0
Diskon              0
dtype: int64

In [47]:
df_1000['Jml Toko Jual'].unique()

array(['4 Shops', '3 Shops'], dtype=object)

#### EDA
1. Hapus duplikasi data
2. Bersihkan kolom Harga Sneaker
3. Buat fitur Harga dalam rupiah
4. Bersihkan kolom 'Jml Toko Jual'
5. Bersihkan kolom available
6. Bersihkan kolom diskon

#### Gabung semua data

In [68]:
rute = 'C:/Users/Asus/dataset/sneaker/'

data_files = [
    '200_sneaker.csv', '300_sneaker.csv', '400_sneaker.csv',
    '500_sneaker.csv', '600_sneaker.csv', '800_sneaker.csv',
    '1000_sneaker.csv', '1200_sneaker.csv', '1400_sneaker.csv',
    '1600_sneaker.csv', '1800_sneaker.csv', '2000_sneaker.csv',
    '2500_sneaker.csv', '3000_sneaker.csv', '3500_sneaker.csv',
    '3900_sneaker.csv', '4400_sneaker.csv', '4400_sneaker_ril.csv',
    '4900_sneaker_ril.csv', '5400_sneaker_ril.csv'
]

pada dataset 4400 itu data sepatu sudah mulai tidak memiliki harga (-)

In [69]:
dfs = []

In [70]:
for file in data_files:
    file_path = os.path.join(rute, file)
    df = pd.read_csv(file_path)
    dfs.append(df)

dataset = pd.concat(dfs, ignore_index=True)

In [2]:
path = 'C:/Users/Asus/dataset/sneaker/sneaker.csv'

dataset = pd.read_csv(path)
dataset

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
0,Nike,Killshot 2,FZ5630-100,21 Shops,Available in several sizes,"76,00 €",20%
1,Jordan,1,553558-072,21 Shops,Available in several sizes,"73,00 €",30%
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,"144,00 €",10%
3,Nike,100,FD7039-200,21 Shops,Available in several sizes,"83,00 €",45%
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,"96,00 €",45%
...,...,...,...,...,...,...,...
212893,Adidas,Court Vantage Adicolor Reflective,S80256,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212894,Adidas,Stan Smith Adicolor,S80246,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212895,Adidas,Court Vantage Adicolor,S80254,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212896,Adidas,Court Vantage Adicolor,S80257,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212897,Adidas,Stan Smith Adicolor,S80250,Sold Out,Available in several sizes,-,Diskon tidak tersedia

In [3]:
duplikasi = dataset[dataset.duplicated()]
duplikasi

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
105471,Filling Pieces,Mondo 2 Ripple Nappa,not-found-sku-function,1 Shops,NaN,$ 246.00,Diskon tidak tersedia
124768,Nike,Mercurial Victory 6 CR7 DF FG Cleat,903605-401,1 Shops,NaN,$ 535.00,Diskon tidak tersedia
124769,New Balance,New Balance 520 V7,W520RW7,1 Shops,NaN,$ 138.00,Diskon tidak tersedia
124770,Vans,Comfycush Authentic,VN0A3WM7B1E,1 Shops,NaN,$ 83.00,Diskon tidak tersedia
124771,Reebok,Instapump Fury,V47898,1 Shops,NaN,$ 239.00,Diskon tidak tersedia
...,...,...,...,...,...,...,...
185563,Nike,KD 15 Olympics Medal,DC1975-700/DM1054-700,1 Shops,Available in several sizes,$ 132.00,Diskon tidak tersedia
185564,Nike,Pg 6 Bred,DC1974-003/DH8447-003,1 Shops,Available in several sizes,$ 153.00,Diskon tidak tersedia
185565,Nike,KD 15 My Roots,DC1975-004/DM1054-004,1 Shops,Available in several sizes,$ 169.00,Diskon tidak tersedia
185566,Nike,Air Max Plus Wolf,DC1936-002,1 Shops,Available in several sizes,$ 529.00,Diskon tidak tersedia
185567,Nike,KD 15 Brooklyn Nets,DC1975-100/DM1054-100,1 Shops,Available in several sizes,$ 195.00,Diskon tidak tersedia

In [4]:
if not duplikasi.empty:
    print("Duplikasiny ada:")
    print(duplikasi)
    print()

    data_bersih = dataset.drop_duplicates()
    print("setelah hapus duplikasi:")
    print(data_bersih)
else:
    print("gak ada dupe")

Duplikasiny ada:
         Merek Sneaker                         Nama Sneaker  \
105471  Filling Pieces                 Mondo 2 Ripple Nappa
124768            Nike  Mercurial Victory 6 CR7 DF FG Cleat
124769     New Balance                   New Balance 520 V7
124770            Vans                  Comfycush Authentic
124771          Reebok                       Instapump Fury
...                ...                                  ...
185563            Nike                 KD 15 Olympics Medal
185564            Nike                            Pg 6 Bred
185565            Nike                       KD 15 My Roots
185566            Nike                    Air Max Plus Wolf
185567            Nike                  KD 15 Brooklyn Nets

                    ID Sneaker Jml Toko Jual                   Available  \
105471  not-found-sku-function       1 Shops                         NaN
124768              903605-401       1 Shops                         NaN
124769                 W520RW7       1 Shops                         NaN
124770             VN0A3WM7B1E       1 Shops                         NaN
124771                  V47898       1 Shops                         NaN
...                        ...           ...                         ...
185563   DC1975-700/DM1054-700       1 Shops  Available in several sizes
185564   DC1974-003/DH8447-003       1 Shops  Available in several sizes
185565   DC1975-004/DM1054-004       1 Shops  Available in several sizes
185566              DC1936-002       1 Shops  Available in several sizes
185567   DC1975-100/DM1054-100       1 Shops  Available in several sizes

       Harga Sneaker                 Diskon
105471      $ 246.00  Diskon tidak tersedia
124768      $ 535.00  Diskon tidak tersedia
124769      $ 138.00  Diskon tidak tersedia
124770       $ 83.00  Diskon tidak tersedia
124771      $ 239.00  Diskon tidak tersedia
...              ...                    ...
185563      $ 132.00  Diskon tidak tersedia
185564      $ 153.00  Diskon tidak tersedia
185565      $ 169.00  Diskon tidak tersedia
185566      $ 529.00  Diskon tidak tersedia
185567      $ 195.00  Diskon tidak tersedia

[44801 rows x 7 columns]

setelah hapus duplikasi:
       Merek Sneaker                       Nama Sneaker  ID Sneaker  \
0               Nike                         Killshot 2  FZ5630-100
1             Jordan                                  1  553558-072
2               Nike               Air Max 1 87 Leopard  FV6605-200
3               Nike                                100  FD7039-200
4               Nike            Air Max 1 SC Light Dust  FB9660-002
...              ...                                ...         ...
212893        Adidas  Court Vantage Adicolor Reflective      S80256
212894        Adidas                Stan Smith Adicolor      S80246
212895        Adidas             Court Vantage Adicolor      S80254
212896        Adidas             Court Vantage Adicolor      S80257
212897        Adidas                Stan Smith Adicolor      S80250

       Jml Toko Jual                   Available Harga Sneaker  \
0           21 Shops  Available in several sizes       76,00 €
1           21 Shops  Available in several sizes       73,00 €
2           21 Shops  Available in several sizes      144,00 €
3           21 Shops  Available in several sizes       83,00 €
4           21 Shops  Available in several sizes       96,00 €
...              ...                         ...           ...
212893      Sold Out  Available in several sizes             -
212894      Sold Out  Available in several sizes             -
212895      Sold Out  Available in several sizes             -
212896      Sold Out  Available in several sizes             -
212897      Sold Out  Available in several sizes             -

                       Diskon
0                         20%
1                         30%
2                         10%
3                         45%
4                         45%
...                       ...
212893  Diskon tidak tersedia
212894  Diskon tidak tersedia
212895  Diskon tidak tersedia
212896  Diskon tidak tersedia
212897  Diskon tidak tersedia

[168097 rows x 7 columns]

In [5]:
data_bersih

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
0,Nike,Killshot 2,FZ5630-100,21 Shops,Available in several sizes,"76,00 €",20%
1,Jordan,1,553558-072,21 Shops,Available in several sizes,"73,00 €",30%
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,"144,00 €",10%
3,Nike,100,FD7039-200,21 Shops,Available in several sizes,"83,00 €",45%
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,"96,00 €",45%
...,...,...,...,...,...,...,...
212893,Adidas,Court Vantage Adicolor Reflective,S80256,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212894,Adidas,Stan Smith Adicolor,S80246,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212895,Adidas,Court Vantage Adicolor,S80254,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212896,Adidas,Court Vantage Adicolor,S80257,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212897,Adidas,Stan Smith Adicolor,S80250,Sold Out,Available in several sizes,-,Diskon tidak tersedia

#### Fitur Harga

In [6]:
rentang_harga = data_bersih[data_bersih['Harga Sneaker'].str.contains('-')]
rentang_harga

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
4094,Jordan,3 Retro,FQ9174-121,8 Shops,Available in several sizes,-,Diskon tidak tersedia
4167,Jordan,4 Retro,AQ9129-101,8 Shops,Available in several sizes,-,Diskon tidak tersedia
9459,Jordan,1 Mid Carbon Fiber,DD2192-001,6 Shops,Available in several sizes,-,Diskon tidak tersedia
91390,Jordan,Jumpman Jack Tr,FJ2852-100,1 Shops,Available in several sizes,-,Diskon tidak tersedia
91819,Nike,Cortez,FZ1347-100,1 Shops,Available in several sizes,-,Diskon tidak tersedia
...,...,...,...,...,...,...,...
212893,Adidas,Court Vantage Adicolor Reflective,S80256,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212894,Adidas,Stan Smith Adicolor,S80246,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212895,Adidas,Court Vantage Adicolor,S80254,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212896,Adidas,Court Vantage Adicolor,S80257,Sold Out,Available in several sizes,-,Diskon tidak tersedia
212897,Adidas,Stan Smith Adicolor,S80250,Sold Out,Available in several sizes,-,Diskon tidak tersedia

In [7]:
data_bersih = data_bersih.drop(rentang_harga.index)

In [8]:
data_bersih

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Harga Sneaker,Diskon
0,Nike,Killshot 2,FZ5630-100,21 Shops,Available in several sizes,"76,00 €",20%
1,Jordan,1,553558-072,21 Shops,Available in several sizes,"73,00 €",30%
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,"144,00 €",10%
3,Nike,100,FD7039-200,21 Shops,Available in several sizes,"83,00 €",45%
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,"96,00 €",45%
...,...,...,...,...,...,...,...
194712,Adidas,Tubular Runner Primeknit,B25573,1 Shops,Available in several sizes,$ 110.00,Diskon tidak tersedia
194713,Adidas,Superstar 80S Primeknit,S82780,1 Shops,Available in several sizes,$ 119.00,Diskon tidak tersedia
194714,Adidas,Y 3 Qr Run,AQ5497,1 Shops,Available in several sizes,$ 406.00,Diskon tidak tersedia
194715,Adidas,Y 3 Retro Boost,AQ5494,1 Shops,Available in several sizes,$ 706.00,Diskon tidak tersedia
194716,Adidas,Superstar 80S,S75056,1 Shops,NaN,"$ 2,486.00",Diskon tidak tersedia

In [9]:
data_bersih['Harga'] = data_bersih['Harga Sneaker']
data = data_bersih.drop('Harga Sneaker', axis=1)
data

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Diskon,Harga
0,Nike,Killshot 2,FZ5630-100,21 Shops,Available in several sizes,20%,"76,00 €"
1,Jordan,1,553558-072,21 Shops,Available in several sizes,30%,"73,00 €"
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,10%,"144,00 €"
3,Nike,100,FD7039-200,21 Shops,Available in several sizes,45%,"83,00 €"
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,45%,"96,00 €"
...,...,...,...,...,...,...,...
194712,Adidas,Tubular Runner Primeknit,B25573,1 Shops,Available in several sizes,Diskon tidak tersedia,$ 110.00
194713,Adidas,Superstar 80S Primeknit,S82780,1 Shops,Available in several sizes,Diskon tidak tersedia,$ 119.00
194714,Adidas,Y 3 Qr Run,AQ5497,1 Shops,Available in several sizes,Diskon tidak tersedia,$ 406.00
194715,Adidas,Y 3 Retro Boost,AQ5494,1 Shops,Available in several sizes,Diskon tidak tersedia,$ 706.00
194716,Adidas,Superstar 80S,S75056,1 Shops,NaN,Diskon tidak tersedia,"$ 2,486.00"

#### Konversi mata uang menjadi Rupiah

In [10]:
data['euro'] = data['Harga'].apply(lambda x: 1 if '€' in x else 0)

In [11]:
data['dolar'] = data['Harga'].apply(lambda x: 1 if '$' in x else 0)

In [15]:
data['Harga'] = data['Harga'].str.replace(' €', '').str.replace('$ ', '')

In [18]:
def hapus_data_setelah_koma1(kolom):
    if kolom['euro'] == 1:
        return kolom['Harga'].split(',')[0]  # ambil data bagian sebelum koma
    else:
        return kolom['Harga']

In [19]:
data['Harga'] = data.apply(hapus_data_setelah_koma1, axis=1)

In [22]:
def hapus_data_setelah_koma2(kolom):
    if kolom['dolar'] == 1:
        return kolom['Harga'].split('.')[0]  # ambil data bagian sebelum titik
    else:
        return kolom['Harga']

In [23]:
data['Harga'] = data.apply(hapus_data_setelah_koma2, axis=1)

In [25]:
def hapus_koma_jika_dolar(kolom):
    if kolom['dolar'] == 1:
        return kolom['Harga'].replace(',', '')  # Menghapus tanda koma
    else:
        return kolom['Harga']

In [26]:
data['Harga'] = data.apply(hapus_koma_jika_dolar, axis=1)

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Diskon,Harga,euro,dolar
0,Nike,Killshot 2,FZ5630-100,21 Shops,Available in several sizes,20%,76,1,0
1,Jordan,1,553558-072,21 Shops,Available in several sizes,30%,73,1,0
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,10%,144,1,0
3,Nike,100,FD7039-200,21 Shops,Available in several sizes,45%,83,1,0
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,45%,96,1,0
...,...,...,...,...,...,...,...,...,...
194712,Adidas,Tubular Runner Primeknit,B25573,1 Shops,Available in several sizes,Diskon tidak tersedia,110,0,1
194713,Adidas,Superstar 80S Primeknit,S82780,1 Shops,Available in several sizes,Diskon tidak tersedia,119,0,1
194714,Adidas,Y 3 Qr Run,AQ5497,1 Shops,Available in several sizes,Diskon tidak tersedia,406,0,1
194715,Adidas,Y 3 Retro Boost,AQ5494,1 Shops,Available in several sizes,Diskon tidak tersedia,706,0,1
194716,Adidas,Superstar 80S,S75056,1 Shops,NaN,Diskon tidak tersedia,2486,0,1

In [27]:
def hapus_titik_jika_euro(kolom):
    if kolom['dolar'] == 1:
        return kolom['Harga'].replace('.', '')  # Menghapus tanda koma
    else:
        return kolom['Harga']

In [28]:
data['Harga'] = data.apply(hapus_titik_jika_euro, axis=1)
data

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jml Toko Jual,Available,Diskon,Harga,euro,dolar
0,Nike,Killshot 2,FZ5630-100,21 Shops,Available in several sizes,20%,76,1,0
1,Jordan,1,553558-072,21 Shops,Available in several sizes,30%,73,1,0
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,Available in several sizes,10%,144,1,0
3,Nike,100,FD7039-200,21 Shops,Available in several sizes,45%,83,1,0
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,Available in several sizes,45%,96,1,0
...,...,...,...,...,...,...,...,...,...
194712,Adidas,Tubular Runner Primeknit,B25573,1 Shops,Available in several sizes,Diskon tidak tersedia,110,0,1
194713,Adidas,Superstar 80S Primeknit,S82780,1 Shops,Available in several sizes,Diskon tidak tersedia,119,0,1
194714,Adidas,Y 3 Qr Run,AQ5497,1 Shops,Available in several sizes,Diskon tidak tersedia,406,0,1
194715,Adidas,Y 3 Retro Boost,AQ5494,1 Shops,Available in several sizes,Diskon tidak tersedia,706,0,1
194716,Adidas,Superstar 80S,S75056,1 Shops,NaN,Diskon tidak tersedia,2486,0,1

In [31]:
data['Harga'] = data['Harga'].astype(float)

In [33]:
def harga_rupiah(baris):
    if baris['dolar'] == 1:
        return baris['Harga'] * 16235 # dolar to idr
    elif baris['euro'] == 1:
        return baris['Harga'] * 17294.30 # euro to idr
    else:
        return baris['Harga']

In [34]:
data['Harga (Rp)'] = data.apply(harga_rupiah, axis=1)

In [ ]:
data = data.drop('Harga', axis=1)

In [ ]:
data = data.rename(columns={'Jml Toko Jual': 'Jumlah Toko'})

In [40]:
data['Available'].unique()

array(['Available in several sizes', nan], dtype=object)

In [41]:
data['Available'] = np.where(data['Available'] == 'Available in several sizes', 1, 0) # if tapi bisa lgs ke integr

In [45]:
data['Diskon'] = data['Diskon'].str.replace('%', '')

In [47]:
data['Diskon'] = np.where(data['Diskon'] == 'Diskon tidak tersedia', 0, data['Diskon'])

In [49]:
data['Jumlah Toko'].unique()

array(['21 Shops', '20 Shops', '19 Shops', '18 Shops', '17 Shops',
       '16 Shops', '15 Shops', '14 Shops', '13 Shops', '12 Shops',
       '11 Shops', '10 Shops', '9 Shops', '8 Shops', '7 Shops', '6 Shops',
       '5 Shops', '4 Shops', '3 Shops', '2 Shops', '1 Shops'],
      dtype=object)

dikarenakan fitur Jumlah Toko itu merupakan data kategorikal ordinal. maka aku terapin label encoding, selain itu juga sepertinya kolom sedikit

In [51]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [52]:
data['Jumlah Toko Encoded'] = label_encoder.fit_transform(data['Jumlah Toko'])

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149902 entries, 0 to 194716
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Merek Sneaker        149898 non-null  object
 1   Nama Sneaker         149897 non-null  object
 2   ID Sneaker           149901 non-null  object
 3   Jumlah Toko          149902 non-null  object
 4   Available            149902 non-null  int32
 5   Diskon               149902 non-null  object
 6   euro                 149902 non-null  int64
 7   dolar                149902 non-null  int64
 8   Harga (Rp)           149902 non-null  float64
 9   Jumlah Toko Encoded  149902 non-null  int32
dtypes: float64(1), int32(2), int64(2), object(5)
memory usage: 11.4+ MB

In [56]:
data['Jumlah Toko Encoded'].unique()

array([13, 12, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1, 20, 19, 18, 17, 16,
       15, 14, 11,  0])

In [61]:
pat4 = 'C:/Users/Asus/dataset/'

nama_file_17 = 'sneaker_clean.csv'

full_path_17 = pat4 + nama_file_17

data.to_csv(full_path_17, index=False)

print(f"Data berhasil disimpan ke: {full_path_17}")

Data berhasil disimpan ke: C:/Users/Asus/dataset/sneaker_clean.csv

In [62]:
data

,Merek Sneaker,Nama Sneaker,ID Sneaker,Jumlah Toko,Available,Diskon,euro,dolar,Harga (Rp),Jumlah Toko Encoded
0,Nike,Killshot 2,FZ5630-100,21 Shops,1,20,1,0,1314366.8,13
1,Jordan,1,553558-072,21 Shops,1,30,1,0,1262483.9,13
2,Nike,Air Max 1 87 Leopard,FV6605-200,21 Shops,1,10,1,0,2490379.2,13
3,Nike,100,FD7039-200,21 Shops,1,45,1,0,1435426.9,13
4,Nike,Air Max 1 SC Light Dust,FB9660-002,21 Shops,1,45,1,0,1660252.8,13
...,...,...,...,...,...,...,...,...,...,...
194712,Adidas,Tubular Runner Primeknit,B25573,1 Shops,1,0,0,1,1785850.0,0
194713,Adidas,Superstar 80S Primeknit,S82780,1 Shops,1,0,0,1,1931965.0,0
194714,Adidas,Y 3 Qr Run,AQ5497,1 Shops,1,0,0,1,6591410.0,0
194715,Adidas,Y 3 Retro Boost,AQ5494,1 Shops,1,0,0,1,11461910.0,0
194716,Adidas,Superstar 80S,S75056,1 Shops,0,0,0,1,40360210.0,0